:root {
    
    --orange:rgba(107, 102, 71, 0.672);
    --bl:rgba(20, 24, 23, 0.303);
    --black:rgb(33, 31, 31);
    --red:rgba(218, 23, 23, 0.802);
    --blue:rgba(186, 153, 45, 0.618);
    --bg:rgb(253, 173, 0);
    --bg1:rgba(186, 153, 45, 0.618);
    --bg2:rgba(199, 168, 77, 0.659);
    --bg3:rgb(182, 166, 97);
    --reg:rgba(48, 46, 41, 0.631);
    --Lo:rgb(199, 199, 199);
    --wh:rgba(255, 255, 255, 0.611);
    --cir:rgba(99, 99, 99, 0.159);
    --col:rgba(251, 255, 0, 0.926);
    --BaIn:rgba(186, 153, 45, 0.618);
    --pro:rgba(240, 156, 0, 0.796);
    --sl:rgba(99, 124, 126, 0.666);
    --slb:rgb(255, 255, 255);
    --tit:rgb(255, 0, 0);
    --catrg:rgba(186, 153, 45, 0.618);
    --bgDis:rgba(174, 247, 219, 0.741);
    --fobt:rgb(51, 53, 27);
    --icon:rgb(238, 187, 93);
    --ti:white;
  }